@font-face {
  font-family: 'loveloblack';
  src: url('lovelo_black-webfont.eot');
  src: url('lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
    url('lovelo_black-webfont.woff2') format('woff2'),
    url('lovelo_black-webfont.woff') format('woff'),
    url('lovelo_black-webfont.ttf') format('truetype'),
    url('lovelo_black-webfont.svg#loveloblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background: white;
  font-family: lovelo;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  &:active {
    transform: translateX(0%);
  }
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.5rem;
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  background: black;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .wrapper {
    flex-direction: column;
  }
  .art {
    margin: 10px;
    min-width: 90%;
  }
  .project-art {
    max-width: 100%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .one {
  transform: rotate(-45deg) translate(-5px, 9px);
}
.toggle .two {
  opacity: 0;
}

.toggle .three {
  transform: rotate(45deg) translate(-5px, -9px);
}

html,
body {
  height: 100%;
  font-family: lovelo;
}

/* HOME */

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.art {
  max-width: 28%;
  border: solid;
  border-width: thin;
}

.art:hover {
  filter: invert(1);
  cursor: pointer;
}

/* SINGLE PROJECT */
.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-art {
  width: 40%;
}

.art-wrapper {
  display: flex;
  justify-content: center;
  background: black;
  width: 100%;
}

.project-header {
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 27px;
  margin-block-end: 0.2em;
}

.project-title {
  color: white;
  letter-spacing: 1.2rem;
  text-align: center;
}

.project-text {
  margin-block-end: 0;
  margin-block-start: 0;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}

.details-wrapper {
  max-width: 70%;
}
